{% extends 'base.html' %}

{% block body %}

<nav class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand" href="#">Dados da Refeição</a>
    <ul class="nav navbar-nav pull-right">
      <li>
        <p class="navbar-btn">
          <a class="btn btn-default nav-dist-btn" href="{% url 'meal:plate_list' %}"> 
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Voltar
          </a>
        </p>
      </li>

      <li>
        <p class="navbar-btn">
          <a class="btn btn-default" href="{% url 'meal:plate_edit' object.id %}"> 
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Editar
          </a>
        </p>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>
      <p>
        <strong>Refeição:</strong>
        {{ object.meal.name }}
      </p>
      </h4>
      <hr>
      <center><h4>Itens do Prato</h4></center>
      <hr>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
        {% for item in object.item_meal.all %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.value }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}